In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
path_to_cleaned_data = "cleaned_average_books.csv"
df = pd.read_csv(path_to_cleaned_data)
df["title_len"] = df["title"].str.len()
df

,title,review_score,title_num_words,contains_subheading,title_len
0,"""A"" IS FOR ALIBI",3.672727,4,0,16
1,"""Ah so!"": Japanese for kids",1.000000,5,1,27
2,"""Beatles"" Illustrated Lyrics",4.384615,3,0,28
3,"""C"" Language",4.000000,2,0,12
4,"""C"" is for Corpse (A Kinsey Millhone mystery, ...",4.170000,10,0,53
...,...,...,...,...,...
49746,ttyl,3.383648,1,0,4
49747,what's happening to me? the answers to some of...,4.078431,14,0,86
49748,white is,4.000000,2,0,8
49749,wild animals and their babies,5.000000,5,0,29
49750,with an everlasting love,4.761905,4,0,24

In [23]:
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

x = df.drop(["review_score", "title"], axis=1).values
y = df[["review_score"]].values
model = LinearRegression().fit(x, y)
model.score(x, y)

0.0006020122422634167

In [24]:
# y_pred = model.predict(x)
# plt.scatter(x, y, color ='b')
# plt.plot(x, y_pred, color ='k')
# plt.show()